@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,900&display=swap');
*
{
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.logos {
  height: 75px;
  background-color: #fffe;
  display: flex;
  justify-content: space-around;
}

.nav {
  border-top: 3px solid #00629B;
  background-color: white;
  border-bottom: 3px solid #00629B;
  text-align: right;
  padding: 10px 0px;
}

.header {
  border-bottom: 5px solid #00629B;
 
  background-size: 100%;
 
  width: 100%;
  height: 600px;
}

.container-banner{
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: auto;

}
.banner{
  width: 100%;
  height: 600px;
  position: relative;
}
.img-banner{
  width: 100%;
  height: 100%;
}
.titulo {

  color: rgb(255, 255, 255);
  margin-top:80px;
  text-align: center;
}

.nosotros {

  font-size: 30px;
  margin-top: 150px;
  text-align: center;
}

.conocenos {
  padding: 40px;
  margin: 20px;
  align-items: center;
  border-bottom: 2px solid rgb(0, 0, 0);
  display: flex;
}
.btnConoce {
  color: rgb(0, 0, 0);
  text-decoration: none;
  box-shadow: 1px 1px 30px rgb(25, 25, 25);
  padding: 10px;
  border-radius: 3px;
  border: 2px solid rgb(13, 13, 13);

}

.des_conocenos {
  width: 600px;
  background-color: rgb(43, 107, 226);
}

.img_conocenos {
  box-shadow: 4px 4px 10px black;
  border-radius: 15px;
  border: 2px solid rgb(9, 65, 249);
  width: 300px;
  height: 418px;
}

.desc2 {
  padding: 30px;
  text-align: center;
}

/**/

/**/
.img_organi {
  box-shadow: 4px 4px 10px black;
  border: 2px solid rgb(9, 65, 249);
  border-radius: 100%;
  width: 330px;
  height: 300px;
}



.cont_organi {
  padding: 30px;
}

.equipo {
  display: flex;
}

.img_galery {
  width: 300px;
  height: 250px;
}

/**/
b {
  font-size: 30px;
}

a.a_nav {
  transition: all 200ms ease;
  font-size: 20px;
  text-decoration: none;
  color: #00629B;
  padding: 20px;
}

/**/
.btnConoce:hover {
  box-shadow: 1px 1px 30px rgb(104, 233, 243);
  background-color: rgba(104, 233, 243, 0.671);
  color: rgb(12, 12, 12);
  border: 2px solid rgb(18, 18, 18);

}

a.a_nav:hover {
  color: rgb(9, 217, 249);
}

.titulo:hover {
  text-shadow: 2px 2px 2px black;
  color: rgb(26, 25, 25);

}

.img_galery:hover {
  background-color: rgba(0, 0, 0, 0.427);
}

/**/
/**/

/**/
/**/
/**/